In [2]:
import pandas as pd
import numpy as np
import sys
import datetime
import math
from scipy.stats import pearsonr
from lazypredict.Supervised import LazyRegressor

In [3]:
df = pd.read_csv('omni2_all_years.dat', header = None, delim_whitespace=True, na_values = [999.9, 9999999, 999.9, 9999, 99.99, 99, 99999])
df

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,1963,1.00,0,1771.00,NaN,NaN,NaN,NaN,NaN,NaN,...,99999.99,99999.99,99999.99,0,3.00,NaN,NaN,NaN,NaN,99.90
1,1963,1.00,1,1771.00,NaN,NaN,NaN,NaN,NaN,NaN,...,99999.99,99999.99,99999.99,0,3.00,NaN,NaN,NaN,NaN,99.90
2,1963,1.00,2,1771.00,NaN,NaN,NaN,NaN,NaN,NaN,...,99999.99,99999.99,99999.99,0,3.00,NaN,NaN,NaN,NaN,99.90
3,1963,1.00,3,1771.00,NaN,NaN,NaN,NaN,NaN,NaN,...,99999.99,99999.99,99999.99,0,7.00,NaN,NaN,NaN,NaN,99.90
4,1963,1.00,4,1771.00,NaN,NaN,NaN,NaN,NaN,NaN,...,99999.99,99999.99,99999.99,0,7.00,NaN,NaN,NaN,NaN,99.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534715,2023,365.00,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99999.99,99999.99,99999.99,0,NaN,NaN,NaN,NaN,NaN,99.90
534716,2023,365.00,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99999.99,99999.99,99999.99,0,NaN,NaN,NaN,NaN,NaN,99.90
534717,2023,365.00,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99999.99,99999.99,99999.99,0,NaN,NaN,NaN,NaN,NaN,99.90
534718,2023,365.00,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99999.99,99999.99,99999.99,0,NaN,NaN,NaN,NaN,NaN,99.90
534719,2023,365.00,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99999.99,99999.99,99999.99,0,NaN,NaN,NaN,NaN,NaN,99.90

In [4]:
df = df[[0, 1, 2, 12, 15, 16, 22, 23, 24, 28, 38, 40]]
df.columns = ['Year', 'DDay', 'Hour', 'Bx', 'By', 'Bz', 'T', 'D', 'V', 'P', 'Kp', 'Dst']
df

        Year   DDay  Hour  Bx  By  Bz   T   D   V   P    Kp   Dst
0       1963   1.00     0 NaN NaN NaN NaN NaN NaN NaN  7.00 -6.00
1       1963   1.00     1 NaN NaN NaN NaN NaN NaN NaN  7.00 -5.00
2       1963   1.00     2 NaN NaN NaN NaN NaN NaN NaN  7.00 -5.00
3       1963   1.00     3 NaN NaN NaN NaN NaN NaN NaN 20.00 -3.00
4       1963   1.00     4 NaN NaN NaN NaN NaN NaN NaN 20.00 -3.00
...      ...    ...   ...  ..  ..  ..  ..  ..  ..  ..   ...   ...
534715  2023 365.00    19 NaN NaN NaN NaN NaN NaN NaN   NaN   NaN
534716  2023 365.00    20 NaN NaN NaN NaN NaN NaN NaN   NaN   NaN
534717  2023 365.00    21 NaN NaN NaN NaN NaN NaN NaN   NaN   NaN
534718  2023 365.00    22 NaN NaN NaN NaN NaN NaN NaN   NaN   NaN
534719  2023 365.00    23 NaN NaN NaN NaN NaN NaN NaN   NaN   NaN

[534720 rows x 12 columns]

In [5]:
df.isnull().sum()/534720

Year   0.00
DDay   0.00
Hour   0.00
Bx     0.24
By     0.24
Bz     0.24
T      0.31
D      0.27
V      0.24
P      0.28
Kp     0.00
Dst    0.00
dtype: float64

In [6]:
for column in df.columns:
    if df[column].isnull().sum() > 0:
        df[column].fillna(value=df[column].mean(), inplace=True)

In [7]:
def get_feature_importnace(label):
    for column in df.columns:
        if column != label:
            correlation,pvalue = pearsonr(df[column],df[label])
            print('Between {feature} and {label} there is a correlation equal {corr} and p value equal {pval}'.format(feature=column, label=label, corr=correlation, pval=pvalue))
    print("end")

In [8]:
get_feature_importnace('Dst')
get_feature_importnace('Kp')

Between Year and Dst there is a correlation equal 0.04732926486761045 and p value equal 9.368269646618502e-263
Between DDay and Dst there is a correlation equal -0.0018257951567504788 and p value equal 0.1818427990907839
Between Hour and Dst there is a correlation equal -0.0009413565331953236 and p value equal 0.4912252982982527
Between Bx and Dst there is a correlation equal -0.002092562156120092 and p value equal 0.12597347104366002
Between By and Dst there is a correlation equal -0.006632689657936544 and p value equal 1.233578462228778e-06
Between Bz and Dst there is a correlation equal 0.24516097259831984 and p value equal 0.0
Between T and Dst there is a correlation equal -0.2322982722336879 and p value equal 0.0
Between D and Dst there is a correlation equal 0.1729314144890219 and p value equal 0.0
Between V and Dst there is a correlation equal -0.3660583411669608 and p value equal 0.0
Between P and Dst there is a correlation equal -0.08324468414885819 and p value equal 0.0
Between Kp and Dst there is a correlation equal -0.5873787799414667 and p value equal 0.0
end
Between Year and Kp there is a correlation equal -0.15256185576743242 and p value equal 0.0
Between DDay and Kp there is a correlation equal -0.028855449833049007 and p value equal 7.191419688099165e-99
Between Hour and Kp there is a correlation equal 0.0022724978087656613 and p value equal 0.09656249285983218
Between Bx and Kp there is a correlation equal -0.007452581624661853 and p value equal 5.044640135745915e-08
Between By and Kp there is a correlation equal 0.017913686501237123 and p value equal 3.278580146093338e-39
Between Bz and Kp there is a correlation equal -0.2876186130380154 and p value equal 0.0
Between T and Kp there is a correlation equal 0.4175216684388049 and p value equal 0.0
Between D and Kp there is a correlation equal 0.09932950789971037 and p value equal 0.0
Between V and Kp there is a correlation equal 0.4906008264493559 and p value equal 0.0
Between P and Kp there is a correlation equal 0.4114008786794513 and p value equal 0.0
Between Dst and Kp there is a correlation equal -0.5873787799414667 and p value equal 0.0
end

In [9]:
df.shape[0] * 0.8

427776.0

In [10]:
y_train = df['Dst'][:427776]
y_test = df['Dst'][427776:]
df.drop(columns= ['Dst', 'Kp', 'DDay', 'Hour'],axis=1,inplace = True)
x_train = df[:427776]
x_test = df[427776:]

In [38]:
x_test

,Year,Bx,By,Bz,T,D,V,P
427776,2011,3.200000,-1.700000,-1.800000,131819.000000,2.600000,407.000000,0.83000
427777,2011,1.700000,-4.000000,1.000000,112093.000000,2.400000,426.000000,0.83000
427778,2011,2.400000,-2.900000,-1.000000,106310.000000,2.400000,418.000000,0.78000
427779,2011,2.400000,-1.600000,3.000000,96042.000000,2.300000,415.000000,0.74000
427780,2011,1.900000,-3.200000,-0.400000,98800.000000,2.500000,419.000000,0.82000
...,...,...,...,...,...,...,...,...
534715,2023,0.037893,-0.039196,-0.014501,102227.931273,6.656975,433.474604,2.23053
534716,2023,0.037893,-0.039196,-0.014501,102227.931273,6.656975,433.474604,2.23053
534717,2023,0.037893,-0.039196,-0.014501,102227.931273,6.656975,433.474604,2.23053
534718,2023,0.037893,-0.039196,-0.014501,102227.931273,6.656975,433.474604,2.23053
534719,2023,0.037893,-0.039196,-0.014501,102227.931273,6.656975,433.474604,2.23053

In [ ]:
regressor = LazyRegressor(verbose = 1, ignore_warnings=False)
models, predictions = regressor.fit(x_train,x_test,y_train,y_test)
print(models)

  2%|█▉                                                                                 | 1/42 [00:05<03:41,  5.41s/it]

{'Model': 'AdaBoostRegressor', 'R-Squared': -0.19565956489862657, 'Adjusted R-Squared': -0.19574901434473113, 'RMSE': 17.85338318622614, 'Time taken': 5.405263423919678}

  5%|███▉                                                                               | 2/42 [00:21<07:51, 11.79s/it]

{'Model': 'BaggingRegressor', 'R-Squared': 0.32004571505667745, 'Adjusted R-Squared': 0.3199948464516412, 'RMSE': 13.463457774358352, 'Time taken': 16.266635417938232}

  7%|█████▉                                                                             | 3/42 [00:21<04:14,  6.51s/it]

{'Model': 'BayesianRidge', 'R-Squared': 0.20066175406146503, 'Adjusted R-Squared': 0.20060195412722925, 'RMSE': 14.5976199203182, 'Time taken': 0.23018932342529297}

 12%|█████████▉                                                                         | 5/42 [00:24<01:58,  3.21s/it]

{'Model': 'DecisionTreeRegressor', 'R-Squared': -0.18344859038008998, 'Adjusted R-Squared': -0.183537126301192, 'RMSE': 17.76198313912904, 'Time taken': 2.589942216873169}
{'Model': 'DummyRegressor', 'R-Squared': -0.10978188719008819, 'Adjusted R-Squared': -0.10986491197240933, 'RMSE': 17.2002821605029, 'Time taken': 0.10981512069702148}

 14%|███████████▊                                                                       | 6/42 [00:24<01:18,  2.18s/it]

{'Model': 'ElasticNet', 'R-Squared': 0.21016622605436241, 'Adjusted R-Squared': 0.2101071371667993, 'RMSE': 14.510574437322727, 'Time taken': 0.17834067344665527}

 17%|█████████████▊                                                                     | 7/42 [00:26<01:06,  1.90s/it]

{'Model': 'ElasticNetCV', 'R-Squared': 0.2191967152946791, 'Adjusted R-Squared': 0.21913830199428508, 'RMSE': 14.42738332880937, 'Time taken': 1.3025250434875488}

 19%|███████████████▊                                                                   | 8/42 [00:26<00:52,  1.55s/it]

{'Model': 'ExtraTreeRegressor', 'R-Squared': -0.19516002340167837, 'Adjusted R-Squared': -0.19524943547618356, 'RMSE': 17.849653262697984, 'Time taken': 0.792790412902832}

 24%|███████████████████▌                                                              | 10/42 [01:37<08:35, 16.11s/it]

{'Model': 'ExtraTreesRegressor', 'R-Squared': 0.3798389818595903, 'Adjusted R-Squared': 0.3797925864965649, 'RMSE': 12.85786871611611, 'Time taken': 70.9648654460907}
GammaRegressor model failed to execute
Some value(s) of y are out of the valid range of the loss 'HalfGammaLoss'.

 26%|█████████████████████▍                                                            | 11/42 [01:38<05:48, 11.23s/it]

GaussianProcessRegressor model failed to execute
Unable to allocate 1.33 TiB for an array with shape (427776, 427776) and data type float64

 29%|███████████████████████▍                                                          | 12/42 [02:13<09:17, 18.57s/it]

{'Model': 'GradientBoostingRegressor', 'R-Squared': 0.41828866100197815, 'Adjusted R-Squared': 0.4182451421287189, 'RMSE': 12.452900549932084, 'Time taken': 35.37075591087341}

 31%|█████████████████████████▍                                                        | 13/42 [02:15<06:30, 13.47s/it]

{'Model': 'HistGradientBoostingRegressor', 'R-Squared': 0.4187603090961677, 'Adjusted R-Squared': 0.418716825507752, 'RMSE': 12.447851157366276, 'Time taken': 1.719515085220337}

 33%|███████████████████████████▎                                                      | 14/42 [02:15<04:28,  9.60s/it]

{'Model': 'HuberRegressor', 'R-Squared': 0.2986819263739737, 'Adjusted R-Squared': 0.29862945950541797, 'RMSE': 13.673329221913539, 'Time taken': 0.6634917259216309}

 38%|███████████████████████████████▏                                                  | 16/42 [02:28<03:09,  7.30s/it]

{'Model': 'KNeighborsRegressor', 'R-Squared': 0.286050673266401, 'Adjusted R-Squared': 0.2859972614310443, 'RMSE': 13.795913074918754, 'Time taken': 12.21650242805481}
KernelRidge model failed to execute
Unable to allocate 1.33 TiB for an array with shape (427776, 427776) and data type float64

 40%|█████████████████████████████████▏                                                | 17/42 [02:28<02:08,  5.15s/it]

{'Model': 'Lars', 'R-Squared': 0.20065182203914278, 'Adjusted R-Squared': 0.20059202136187448, 'RMSE': 14.597710609983853, 'Time taken': 0.15754365921020508}

 45%|█████████████████████████████████████                                             | 19/42 [02:29<01:03,  2.74s/it]

{'Model': 'LarsCV', 'R-Squared': 0.23493276952925213, 'Adjusted R-Squared': 0.23487553347142487, 'RMSE': 14.28126097160121, 'Time taken': 0.8218436241149902}
{'Model': 'Lasso', 'R-Squared': 0.2536802260980693, 'Adjusted R-Squared': 0.2536243925712426, 'RMSE': 14.10519937948778, 'Time taken': 0.16628313064575195}

 50%|█████████████████████████████████████████                                         | 21/42 [02:30<00:35,  1.69s/it]

{'Model': 'LassoCV', 'R-Squared': 0.23538091352537938, 'Adjusted R-Squared': 0.23532371099401173, 'RMSE': 14.277077679857387, 'Time taken': 1.3913214206695557}
{'Model': 'LassoLars', 'R-Squared': -0.10978188719008819, 'Adjusted R-Squared': -0.10986491197240933, 'RMSE': 17.2002821605029, 'Time taken': 0.15664982795715332}

 52%|██████████████████████████████████████████▉                                       | 22/42 [02:31<00:28,  1.41s/it]

{'Model': 'LassoLarsCV', 'R-Squared': 0.23493276952925213, 'Adjusted R-Squared': 0.23487553347142487, 'RMSE': 14.28126097160121, 'Time taken': 0.762768030166626}

 55%|████████████████████████████████████████████▉                                     | 23/42 [02:32<00:20,  1.08s/it]

{'Model': 'LassoLarsIC', 'R-Squared': 0.20065182203914278, 'Adjusted R-Squared': 0.20059202136187448, 'RMSE': 14.597710609983853, 'Time taken': 0.3045382499694824}

 57%|██████████████████████████████████████████████▊                                   | 24/42 [02:32<00:14,  1.22it/s]

{'Model': 'LinearRegression', 'R-Squared': 0.20065182203918397, 'Adjusted R-Squared': 0.20059202136191567, 'RMSE': 14.597710609983476, 'Time taken': 0.21967625617980957}

 60%|████████████████████████████████████████████████▊                                 | 25/42 [02:39<00:46,  2.74s/it]

{'Model': 'LinearSVR', 'R-Squared': 0.31895460870597825, 'Adjusted R-Squared': 0.31890365847331026, 'RMSE': 13.474255688372708, 'Time taken': 7.230592966079712}

 62%|██████████████████████████████████████████████████▊                               | 26/42 [05:57<16:21, 61.35s/it]

{'Model': 'MLPRegressor', 'R-Squared': 0.26232545083699454, 'Adjusted R-Squared': 0.2622702640750054, 'RMSE': 14.023265453078125, 'Time taken': 198.08842015266418}